:root {
    --black: #170101;
    --white: #FFFBFB;
    --yellow: #FFC20B;
    --green:#25BC32;
    --gray: #767676;
  }

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body, html {
    font-family: 'Inter', sans-serif;
}

.MainTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 80vh;
    height: 700px;
    font-family: 'Inter', sans-serif;
}


.headline {
    max-width: 1000px;
    text-align: left;
}

.headline-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.headline h1 {
    font-size: 48px;
    line-height: 1.2;
    margin: 0;
    font-weight: 800;
    margin-right: 10px;
}

.green {
    color: var(--green);
    font-size: 48px;
}

.cursive {
    font-style: italic;
}

.Yellow{
    background: linear-gradient(3deg, #FFC20B 55.85%, #F58506 116.49%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.first-row {
    margin-bottom: 0.5rem;
    margin-left: 10%; /* Add a left margin to position it where you want */

}

.second-row {
    margin-bottom: 0.5rem;
}

.third-row{
    text-align: center;
}

.in-between-row{
    text-align: center;
    color: var(--gray);
    font-weight: 500;
}

.typing-text {
    display: inline-block;
    white-space: nowrap;
    opacity: 0;
    animation: typing-appear 0.8s forwards;
}

.first-row .typing-text {
    animation-delay: 0s;
    animation-duration: 0.7s;
}

.in-between-row .typing-text{
    animation-delay: 0.7s;
}

.second-row .typing-text {
    animation-delay: 0.7s;
    animation-duration: 1s;
}
.third-row .typing-text {
    animation-delay: 1.6s;
    animation-duration: 1.2s;
}

@keyframes typing-appear {
    0% { opacity: 0; clip-path: inset(0 100% 0 0); }
    100% { opacity: 1; clip-path: inset(0 0 0 0); }
}

.arrow-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 2.8s; /* Start after text animations complete */
}

.arrow {
    background-image: url(../images/Line\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 70px; 
    animation: bounce 2s infinite;
    animation-delay: 3s;
    scale: 1.2;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(5px);
    }
}

.scroll {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    opacity: 0;
    justify-content: center;
    margin-top: 45px;
    font-size: 12px;
    animation: fadeIn 1s forwards;
    animation-delay: 2.8s;
}



