:root {
    --black: #170101;
    --white: #FFFBFB;
    --yellow: #FFC20B;
    --green:#25BC32;
    --gray: #767676;
    --lightgray: #E1DCDC;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body, html {
  font-family: 'Pixelify Sans', sans-serif;
}

.footer {
    width: 50%;
    height: 115px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    margin: 0 auto; /* this centers it horizontally */
}


.title {
    color: #000;
    font-family: "Inter";
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 28px;
    padding-top: 9px;
}

.socials-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    margin-left: 28px;
    width: auto;
    margin-bottom: 5px;
}

.footer > .socials-container:nth-of-type(1),
.footer > .socials-container:nth-of-type(2) {
    display: inline-flex;
    vertical-align: top;
}

/* Make the parent of them behave like inline-block flow */
.footer > .socials-container:nth-of-type(1) {
    margin-right: 10px; /* spacing between the two containers */
}


.social-container{
    display: flex;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    width: auto;
}

.instagram-img {
    width: 22px;
    height: 22px;
    aspect-ratio: 1/1;
    background: url(../images/Instagram.png) transparent 50% / cover no-repeat; 
}

.tiktok-img {
    width: 22px;
    height: 22px;
    aspect-ratio: 1/1;
    background: url(../images/TikTok.png) transparent 50% / cover no-repeat;
}

.discord-img {
    width: 22px;
    height: 22px;
    aspect-ratio: 1/1;
    background: url(../images/Discord.png) transparent 50% / cover no-repeat;
}

.linkedin-img{
    width: 22px;
    height: 22px;
    aspect-ratio: 1/1;
    background: url(../images/LinkedIn.png) transparent 50% / cover no-repeat;
}

.gmail-img {
    width: 22px;
    height: 22px;
    aspect-ratio: 1/1;
    background: url(../images/Gmail.png) transparent 50% / cover no-repeat;
}

.social-user {
    color: var(--black);
    font-family: "Pixelify Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: default;
}

.social-user:hover{
    color: var(--yellow);
    cursor: 'default';
}

.unstyled-link {
    all: unset; /* resets default link styles */
    cursor: inherit; /* inherits cursor from parent */
    color: inherit;  /* inherits color from parent */
    text-decoration: inherit;
}

.footer-divider {
    margin-left: 15%;
    margin-right: 15%;
    border: none;
    height: 1px;
    border-color: var(--lightgray);
    background-color: var(--lightgray); /* or #ccc for a lighter grey */
    
}