:root {
  --black: #170101;
  --white: #FFFBFB;
  --yellow: #FFC20B;
  --green:#25BC32;
}

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body, html {
  font-family: 'Pixelify Sans', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .name {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 44px;
    aspect-ratio: 157/11;
  }
  
  .header .header-right a {
    text-decoration: none;
    font-weight: 500;
    color: black;
  }
  
  .header-right a:hover {
    color: var(--green);
  }


