:root {
    --black: #170101;
    --white: #FFFBFB;
    --yellow: #FFC20B;
    --green:#25BC32;
    --gray: #767676;
    --lightgray: #E1DCDC;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body, html {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

a {
    text-decoration: none !important;
}

.overview-container{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0; /* Remove any extra padding */
    margin: 0;
    box-sizing: border-box; 
    
}

.project-container {
    padding: 0; /* Remove any extra padding */
    margin: 0;
    padding: 20px; /* Ensure enough padding */
    min-height: 200px; /* Make sure there's enough space for the content */
}

.project-link {
    display: block; /* Make the link behave like a block element */
    text-decoration: none; /* Remove the default underline */
    color: inherit; /* Ensure the color inherits from the parent element */
    font-size: inherit;/* Inherit the text color */
}

.line-breakk{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 1px;
    background-color: var(--lightgray);
    margin: 0 auto;
}

.pixel{
    font-family: 'Pixelify Sans', sans-serif;
    color: var(--black);
    text-align: center;
    margin: 0;
}