:root {
    --black: #170101;
    --white: #FFFBFB;
    --yellow: #FFC20B;
    --green:#25BC32;
    --gray: #767676;
    --lightgray: #E1DCDC;
}

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body, html {
  font-family: 'Pixelify Sans', sans-serif;
}

.parallax {
    position: relative;
    overflow: hidden;
  }
  
  .scroller {
    display: flex;
    white-space: nowrap;
    text-align: center;
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--gray);
    letter-spacing: -0.02em;
  }
  
  .scroller span {
    flex-shrink: 0;
  }
  
  @media (min-width: 768px) {
    .scroller {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }