:root {
    --black: #170101;
    --white: #FFFBFB;
    --yellow: #FFC20B;
    --green:#25BC32;
    --gray: #767676;
    --lightgray: #E1DCDC;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body, html {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.project-container {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.project-containers{
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.project-img {
    width: 50%;
    max-width: 420px;
    aspect-ratio: 16/9;
    border-radius: 22px;
    background: var(--lightgray);
    object-fit: cover;
}

.project-desc {
    display: flex;
    width: 50%;
    max-width: 420px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.project-title {
    align-self: stretch;
    margin: 0;
    color: var(--black);
    font-size: 28px;
    font-weight: 600;
}

.project-date {
    align-self: stretch;
    margin: 0;
    color: var(--gray);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 4px;
}

.project-details {
    align-self: stretch;
    margin: 0;
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}