:root {
  --black: #170101;
  --white: #FFFBFB;
  --yellow: #FFC20B;
  --green:#25BC32;
  --gray: #767676;
}

.App {
  text-align: center;
}

body {
  background-color: #f0f0f0; /* light gray */
  cursor: default; /* default cursor, or change to pointer if needed */
}

